<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body>


  <div class="container" ng-app="WebBhumi">

    <div class="container-fluid" ng-controller="classes">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Course</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="student in students">
            <td>{{student.name}}</td>
            <td>{{student.course}}</td>
            <td>{{student.batch}}</td>
          </tr>
        </tbody>
      </table>
    </div>




    <div class="row" ng-controller="courses">
      <ul>
        <li ng-repeat="course in courses">{{course.name}}
          <ul>
            <li ng-repeat="cover in course.covers">{{cover.name}}</li>
          </ul>

        </li>
      </ul>
    </div>

  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>




  <script src="../js/angular.min.js" charset="utf-8"></script>
  <script src="details.js" charset="utf-8"></script>
</body>
</html>
